<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magic Kingdom</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<img src="/static/images/beginning.png" alt="Beginning" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;">
<footer>
    <a href="/lessTravelled.html">
        <button>Less Travelled</button>
    </a>

    <a href="/moreTravelled.html">
        <button>More Travelled</button>
    </a>
</footer>
</body>
</html>