<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go Website</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body style="background-image: url('/static/images/lessTravelledWHALE.png')">
</body>
<footer>
    <a href="/talkWhale.html">
        <button>Talk to the Whale</button>
    </a>

    <a href="/runFromWhale.html">
        <button>Run from the Whale</button>
    </a>
</footer>
</html>