<!--
moreTravelled.html
author: abbybrown

Generates the web page for the road more travelled
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magic Kingdom</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body style="background-image: url('/static/images/moreTravelledSTRANGER.png')">
</body>
<footer>
    <a href="/talkStranger.html">
        <button>Talk to the Stranger</button>
    </a>

    <a href="/runStranger.html">
        <button>Run Away!</button>
    </a>
</footer>
</html>