<!--
runFromWhale.html
author: abbybrown

Generates webpage for the running from the whale
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magic Kingdom</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body style="background-image: url('/static/images/noTalkWhale.png')">
</body>
<footer>
    <a href="/talkTiger.html">
        <button>Talk to the Tiger</button>
    </a>

    <a href="/runTiger.html">
        <button>Run from the Tiger</button>
    </a>
</footer>
</html>